#usDiv{
    border: 2px solid;
    margin: '10px';
    width: '100%';
    display: block;
    color: rgb(4, 13, 45);
    text-align: center;
    margin: .3rem;
    background-color: bisque;
}

#usDiv button{
    width: 100%;
    background-color: rgb(108, 21, 159);
    height: 2rem;
    color: white;
    border: 2px solid white;
}